booru-options {
    width: 100%;
    height: calc(100% - 25px);
    background-color: var(--options-background-color);
    position: fixed;
    top: 0;
    z-index: 5;
    overflow: hidden;
    box-sizing: border-box;

    options-block {
        max-width: 50%;
        margin: auto;
        display: block;

        search-title {
            font-size: 18px;
            color: var(--options-color);
            margin-top: 150px;
            display: block;
        }
    
        booru-search {
            height: 15px;
            border: var(--searchbar-border);
            border-radius: 10px;
            display: block;
            margin-top: 10px;
            padding: 10px;
            color: var(--options-color);
            
            &:focus {
                outline: none;
            }
        }
        
        search-result {
            display: block;
            padding: 20px;
            max-height: calc(100% - 300px);
            overflow-y: scroll;
    
            @import '../div/tagPanel';
        }
    }
}