booru-post {
    width: 100%;
    height: calc(100% - 25px);
    background-color: #000000cc;
    position: fixed;
    top: 0;
    z-index: 4;

    booru-image {
        background-color: white;
        height: 100%;
        cursor: move;
    }

    video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
}