booru-detail {
    height: 0;
    width: 100%;
    background-color: var(--detail-background-color);
    position: fixed;
    bottom: 25px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(147, 255, 255, 0);
    overscroll-behavior: none;
    overflow: hidden;
    z-index: 3;

    detail-panel {
        overflow-y: overlay;
        overflow-x: hidden;
        width: calc(100% - 200px);
        display: inline-flex;
        flex-grow: 2;
        height: 100%;

        detail-block {
            position: relative;
            box-sizing: border-box;
            padding: 20px;
            flex-direction: column;
            gap: 30px;

            main-tags-panel {
                display: flex;
                gap: 20px;
                padding-bottom: 20px;

                tags-panel {
                    min-height: 100px
                }
            }

            @import './tagPanel';
        }
    }

    detail-preview {
        box-sizing: border-box;
        padding: 10px;
        float: right;
        height: 100%;
        width: 200px;
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        background-color: var(--detail-preview-background-color);        

        img {
            height: 100px
        }

        video {
            height: 100px
        }
    }

    @media only screen and (max-width: 600px) {
        detail-panel {
            width: 100%;
            detail-block {
                main-tags-panel {
                    flex-wrap: wrap;
                }
            }
        }
    
        detail-preview {
            display: none !important;
        }
    }
}