@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #232323;
        --detail-background-color: #131313;
        --detail-preview-background-color: #101010;
        --detail-title-color: #dedede;

        --footer-log-color: rgb(222, 222, 222);
        --footer-border-top: 2px solid #101010;
        --footer-background-color: #131313;

        --post-background-color: #000000cc;
     
        --options-background-color: #000000dd;
        --options-color: #dedede;
        --searchbar-border: 1px solid #dedede
    }
}