@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #232323;
        --detail-background-color: #131313;
        --detail-preview-background-color: #101010;
        --detail-title-color: #dedede;

        --footer-log-color: #dedede;
        --footer-border-top: 2px solid black;
        --footer-background-color: #131313;
    }
}