@media (prefers-color-scheme: light) {
    :root {
        --background-color: #dedede;
        --detail-background-color: #cecece;
        --detail-preview-background-color: #dedede;
        --detail-title-color: #131313;
    }
}