@media (prefers-color-scheme: light) {
    :root {
        --background-color: #dedede;
        --detail-background-color: #cecece;
        --detail-preview-background-color: #dedede;
        --detail-title-color: #131313;

        --footer-log-color: rgb(19, 19, 19);
        --footer-border-top: 2px solid #dedede;
        --footer-background-color: #cecece;

        --post-background-color: #ffffffcc;

        --options-background-color: #ffffffcc;
        --options-color: #131313;
        --searchbar-border: 1px solid #131313
    }
}